@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 600;
  background-color: #0d4e57;
  color: #fff;
  max-width: 1440px;
  overflow-x: hidden;
}

.App {
  width: 95%;
  margin: 0 auto;

}

header {
  vertical-align: middle;
  font-size: 2.5vw;
  font-family: 'Reggae One', sans-serif;
  cursor: pointer;
}

header img {
  vertical-align: middle;
  margin-left: 10px;
  width: 3.5vw;
}

section {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3%;
}

.movie {
  background-color: #0f8696;
  padding-bottom: 0.3rem;
  box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;
  
}

.movie div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  padding: 2px 3px;
  font-size: 1vw;
  text-align: center;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  

}

.movie img {
  max-width: 100%;
  border-radius: 5px;
}

.movie img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 500ms;
}

.movie-overview {
  position: absolute;
  background-color: #0f8696;
  padding: 1rem;
  color: aliceblue;
  bottom: 0px;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: auto;
  transform: translateY(100%);
  
}

.movie:hover .movie-overview {
  transform: translateY(0%);
  transition: all 500ms ease-in-out;
}



@media only screen and (max-width: 670px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}