@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: serif;
  font-weight: 500;
  background-color: #0d4e57;
  color: #fff;
  max-width: 1440px;
}

.App {
  width: 95%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-family: 'Reggae One', sans-serif;
  cursor: pointer;
}

.search-input {
  border-radius: 5px;
  background-color: #148392;
  border: 1px solid #b6d2d6;
  color: #fff;
  padding: 0.3rem;
  width: 100px; 
  margin-top: auto;
}

header img {
  vertical-align: middle;
  margin-left: 10px;
  width: 50px;
}

section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3%;
}

.movie {
  background-color: #0f8696;
  padding-bottom: 0.3rem;
  box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden;
}

.movie div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  padding: 2px 3px;
  font-size: 1.2vw;
  text-align: center;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.movie img {
  max-width: 100%;
  border-radius: 5px;
}

.movie img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 500ms;
}

.movie-overview {
  position: absolute;
  background-color: #0f8696;
  padding: 0.5rem;
  color: aliceblue;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: auto;
  transform: translateY(102%);
  font-size: 1.3vw;
}

.movie:hover .movie-overview {
  transform: translateY(0%);
  transition: all 500ms ease-in-out;
}


@media only screen and (max-width: 670px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
  h1 {
    font-size: medium;
  }
  header img {
    width: 30px;
  }
}